# Core
python-dotenv
discord-webhook
aiohttp
pandas
numpy
SQLAlchemy
python-json-logger
apscheduler
matplotlib

# Exchanges
python-binance
websocket-client

# Solana & Drift
solana
solders
anchorpy
base58
driftpy

# Analysis
pandas-ta